body {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: left;
    align-items: left;
    height: 100vh;
}

#menu {
    background: #333;
    padding: 20px;
    border-radius: 20px;
    text-align: left;
}

button {
    padding: 10px 20px;
    background-color: #e74c3c;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    margin: 5px;
}
